<div id="modal" class="modal is-active">
    <div class="modal-background" _="on click remove #modal"></div>
    <div class="modal-content animate__animated animate__zoomIn animate__faster" style="width: 50%;">
        <div class="container">
            <div class="box">
                <h1 class="title is-1 has-text-centered p-3">{{df['nazev'][0]}}</h1>
                <table class="table mx-auto p-5">
                    <tbody>
                        <tr>
                            <th>Kód kurzu</th>
                            <td>{{ df['katedra'][0] }}/{{ df['zkratka'][0] }}</td>
                        </tr>
                        <tr>
                            <th>Počet kreditů</th>
                            <td>{{ df['kreditu'][0] }}</td>
                        </tr>
                        <tr>
                            <th>Vyučující</th>
                            <td>
                                {{ (df['prednasejici'][0] | string).translate({39:None}) }}
                            </td>
                        </tr>
                        <tr>
                            <th>Semestr</th>
                            <td>
                                {% if df['vyukaZS'][0] == 'A' %}
                                Zimní
                                {% else %}
                                Letní
                                {% endif %}
                            </td>
                        </tr>

                        <tr>
                        {% if df['jednotekPrednasek'][0] > 0 %}
                        <th>Přednášky</th>
                        <td>{{ df['jednotekPrednasek'][0] }} {{ df['jednotkaPrednasky'][0] }}</td>
                        {% endif %}
                        </tr>
                        <tr>
                        {% if df['jednotekCviceni'][0] > 0 %}
                        <th>Cvičení</th>
                        <td>{{ df['jednotekCviceni'][0] }} {{ df['jednotkaCviceni'][0] }}</td>
                        {% endif %}
                        </tr>
                        <tr>
                        {% if df['jednotekSeminare'][0] > 0 %}
                        <th>Semináře</th>
                        <td>{{ df['jednotekSeminare'][0] }} {{ df['jednotkaSeminare'][0] }}</td>
                        {% endif %}
                        </tr>
                        <tr>
                            <th>Zakončení</th>
                            <td>{{ df['typZkousky'][0] }}</td>
                        </tr>
                        <tr>
                            <th>Podmiňující předměty</th>
                            <td>{{ df['podminujiciPredmety'][0] }}</td>
                        </tr>
                        <tr>
                            <th>Podmiňuje předměty</th>
                            <td>{{ df['podminujePredmety'][0] }}</td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <h2 class="subtitle has-text-black">Anotace:</h2>
                                {{ df['anotace'][0] }}
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <h2 class="subtitle has-text-black">Přehled látky:</h2>
                                {{ df['prehledLatky'][0] | replace("\n", "<br />" | safe ) }}
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <h2 class="subtitle has-text-black">Požadavky:</h2>
                                {{ df['pozadavky'][0] | replace("\n", "<br />" | safe ) }}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>


</div>