<div class="container p-5 animate__animated animate__fadeIn animate_slower">
    <div class="columns is-multiline is-centered">
        {% for index, row in df.iterrows() %}
        <div class="column is-6-tablet is-3-desktop is-8-widescreen is-4-fullhd">
            <a href="/ws/obor/{{ row['stprIdno'] }}">
            <div class="card has-background-light">
                <div class="card-content">
                    <div class="title is-5">
                        {{ row['nazev'] }}
                    </div>
                        <div class="subtitle is-6">
                            <div class="tags has-addons">
                                {% if row['typ'] == "Bakalářský" %}
                                <span class="tag is-info">{{ row['typ'] }}</span>
                                {% elif row['typ'] == "Navazující" %}
                                <span class="tag is-warning">{{ row['typ'] }}</span>
                                {% elif row['typ'] == "Doktorský" %}
                                <span class="tag is-danger">{{ row['typ'] }}</span>
                                {% endif %}
                                
                                {% if row['forma'] == "Prezenční" %}
                                <span class="tag is-success">{{ row['forma'] }}</span>
                                {% elif row['forma'] == "Kombinovaná" %}
                                <span class="tag is-info is-light">{{ row['forma'] }}</span>
                                {% elif row['forma'] == "Distanční" %}
                                <span class="tag is-danger">{{ row['forma'] }}</span>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <a href="/ws/obor/{{row['key']}}" hx-indicator="#progress" class="card-footer-item">
                        <span class="icon is-medium has-text-black">
                            <span class="mdi mdi-information mdi-24px"></span>
                          </span>
                    </a>
            </div>
        </a>
        </div>
        {% endfor %}
    </div>
</div>