<div class="container p-5">
    <div class="columns is-multiline is-centered">
        {% for index, row in df.iterrows() %}
        <div class="column is-6-tablet is-3-desktop is-8-widescreen is-4-fullhd">
            <div class="card has-background-light is-hoverable">
                <div class="card-content">
                    <div class="title is-5">
                        {{ row['nazev'] }}
                    </div>
                    <div class="subtitle is-6">
                        {{ row['forma'] }} | {{ row['typ'] }}
                    </div>
                </div>
                <footer class="card-footer">
                    <a href="/ws/obor/{{row['stprIdno']}}" class="card-footer-item">
                        <i class="material-icons has-text-black">info</i>
                    </a>
                </footer>
            </div>
        </div>
        {% endfor %}
    </div>
</div>