{% extends 'index.html' %}
{% block body %}

<style>
  .box {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
</style>

<section class="hero is-medium is-primary">
  <div class="hero-body">
    <div class="container">
      <h1 class="title animate__animated animate__slideInRight">
        {{ df_obor['nazev'][0] }}
      </h1>
      <h2 class="subtitle animate__animated animate__slideInRight">
        {{ df_obor['zkratka'][0] }}
      </h2>
    </div>
  </div>
</section>
<progress id="progress" class="progress is-primary htmx-indicator"></progress>

<div class="container p-5">
  <div class="tile is-ancestor is-light">
    <div class="tile is-4 is-vertical is-parent">
      <div class="tile is-child box has-background-light">
        <p class="title">Přehled</p>
        <p>
          <span class="has-text-weight-bold">
            Typ studia:
          </span> {{ df_obor['typ'][0] }}
        </p>
        <p>
          <span class="has-text-weight-bold">
            Forma studia:
          </span> {{ df_obor['forma'][0] }}
        </p>
      </div>
      <div class="tile is-child box has-background-light">
        <p class="title">Garant</p>
        <p>{{ df_obor['garant'][0] }}</p>
      </div>
    </div>
    <div class="tile is-parent">
      <div class="tile is-child box has-background-light">
        <p class="title">Anotace studijního programu</p>
        <p>{{ df_obor['anotace'][0] }}</p>
      </div>
    </div>
  </div>

  <hr>

</div>


<section class="section">
  <h2 class="is-size-1 p-3 has-text-centered">Studijní plán</h2>

  <form
  id="form"
  hx-post="/ws/filter"
  hx-indicator="#progress"
  hx-target="#table">
  <input type="hidden" name="df" value="{{ df_predmety_str }}">
  <table class="table is-hoverable mx-auto">
    <thead>
      <tr>
        {% for column in df_predmety.columns %}
        <th class="has-text-centered">
          {{ column }}
        </th>
        {% endfor %}
      </tr>
    </thead>
    <thead>
      <tr>
        <th>
          <div class="select is-primary is-rounded">
            <select name="Blok" hx-post="/ws/filter" hx-trigger="change" hx-target="#table" hx-swap="innerHTML">

              <option>Vše</option>
              {% for value in df_predmety["Blok"].unique() %}
              <option>{{ value }}</option>
              {% endfor %}
            </select>
          </div>
        </th>
        <th>
          <div class="select is-primary is-rounded">
            <select name="Katedra" hx-post="/ws/filter" hx-trigger="change" hx-target="#table" hx-swap="innerHTML">

              <option>Vše</option>
              {% for value in df_predmety["Katedra"].unique() %}
              <option>{{ value }}</option>
              {% endfor %}
            </select>
          </div>
        </th>
        <th style="width: 8%;">
          <div class="field">
            <p class="control has-icons-left">
              <input class="input is-primary is-rounded" type="text" name="Zkratka" value=""
              hx-post="/ws/filter" hx-trigger="change" hx-target="#table" hx-swap="innerHTML">
              <span class="icon is-medium is-left">
                <i class="mdi mdi-magnify"></i>
              </span>
            </p>
          </div>
        </th>
        <th>
          <div class="field">
            <p class="control has-icons-left">
            <input class="input is-primary is-rounded" type="text" name="Název" value=""
            hx-post="/ws/filter" hx-trigger="change" hx-target="#table" hx-swap="innerHTML">
            <span class="icon is-medium is-left">
                <i class="mdi mdi-magnify"></i>
              </span>
            </p>
          </div>
        </th>
        <th>
          <!-- <div class="select is-primary is-rounded">
            <select name="Garanti" hx-post="/ws/filter" hx-trigger="change" hx-target="#table" hx-swap="innerHTML">
              <option>Vše</option>
              {% for value in df_predmety["Garanti"].unique() %}
              <option>{{ value }}</option>
              {% endfor %}
            </select>
          </div> -->
          <div class="control has-icons-left">
            <div class="select is-primary is-rounded">
              <select name="Garanti" hx-post="/ws/filter" hx-trigger="change" hx-target="#table" hx-swap="innerHTML">
                <option>Vše</option>
                {% for value in df_predmety["Garanti"].unique() %}
                <option>{{ value }}</option>
                {% endfor %}
              </select>
            </div>
            <div class="icon is-medium is-left">
              <i class="mdi mdi-account"></i>
            </div>
          </div>
        </th>
        <th>
          <div class="select is-primary is-rounded">
            <select name="Kreditů" hx-post="/ws/filter" hx-trigger="change" hx-target="#table" hx-swap="innerHTML">
              <option>Vše</option>
              {% for value in df_predmety["Kreditů"].unique() %}
              <option>{{ value }}</option>
              {% endfor %}
            </select>
          </div>
        </th>
        <th>
          <div class="select is-primary is-rounded">
            <select name="Rok" hx-post="/ws/filter" hx-trigger="change" hx-target="#table" hx-swap="innerHTML">
              <option>Vše</option>
              {% for value in df_predmety["Rok"].unique() %}
              <option>{{ value }}</option>
              {% endfor %}
            </select>
          </div>
        </th>
        <th>
          <div class="select is-primary is-rounded">
            <select name="Semestr" hx-post="/ws/filter" hx-trigger="change" hx-target="#table" hx-swap="innerHTML">
              <option>Vše</option>
              {% for value in df_predmety["Semestr"].unique() %}
              <option>{{ value }}</option>
              {% endfor %}
            </select>
          </div>
        </th>
      </tr>
    </thead>
    <tbody id="table" >
      {% for index, row in df_predmety.iterrows() %}
      <tr _="on click fetch /ws/predmet/{{ row['Zkratka'] }}/{{ row['Katedra'] }} put the result after me">
        {% for column in df_predmety.columns %}
        {% if column in ['Rok', 'Kreditů', 'Semestr'] %}
        <td class="has-text-centered">{{ row[column] }}</td>
        {% else %}
        <td>{{ row[column] }}</td>
        {% endif %}
        {% endfor %}
      </tr>
      {% endfor %}
    </tbody>

  </table>
</form>

</section>

{% endblock %}