<!-- TODO: vyučování, správné jednotky (semináře, cvičení, přednášky) -->

{% extends 'index.html' %}

{% block head %}

<h1 style="text-align: center; font-size: 500%;">{{department}}</h1>

{% endblock head %}

{% block dropdown %}
{% endblock dropdown %} {% block body %} {%
for i in range(data|length) %}
<div class="container">
  <h1 id="{{data[i]['nazev'][0]}}">{{data[i]['nazev'][0]}}</h1>
</div>
<div class="container">
  <table>
    <tbody>
      <tr>
        <th>Course code</th>
        <td>{{ data[i]['katedra'][0] }}/{{ data[i]['zkratka'][0] }}</td>
      </tr>
      <tr>
        <th>ECTS</th>
        <td>{{ data[i]['kreditu'][0] }}</td>
      </tr>
      <tr>
        <th>Teacher</th>
        <td>
          {{ (data[i]['prednasejici'][0] | string).translate({39:None}) }}
        </td>
      </tr>
      <tr>
        <th>Term</th>
        <td>
          {% if data[i]['vyukaZS'][0] == 'A' %} Winter {% else %} Summer {%
          endif %}
        </td>
      </tr>
      <tr>
        <th>Language of instruction</th>
        <td>{{ data[i]['vyucovaciJazyky'][0] }}</td>
      </tr>

      <tr>
        <th>Lecture/exercises</th>
        <td>
          {{ data[i]['jednotekPrednasek'][0]}}/{{ data[i]['jednotekCviceni'][0]
          }} per week
        </td>
      </tr>
      <tr>
        <th>Completion</th>
        <td>{{ data[i]['typZkousky'][0] }}</td>
      </tr>
      <tr>
        <td colspan="2">{{ data[i]['anotace'][0] }}</td>
      </tr>
      <tr>
        <td colspan="2">
          {{ data[i]['prehledLatky'][0] | replace("\n", "<br />" | safe ) }}
        </td>
      </tr>
    </tbody>
  </table>
</div>
{% endfor %} {% endblock body %}
