{% extends 'index.html' %}
{% block head %}
{% endblock %}
{% block body %}

<h1 class="is-size-1 has-text-centered" style="padding: 50px;">Studijní programy</h1>

<div class="container">
    <div class="columns is-multiline is-centered">
        {% for index, row in df.iterrows() %}
        <div class="column is-6-tablet is-3-desktop is-8-widescreen is-4-fullhd">
            <div class="card has-background-light">
                <div class="card-content">
                    <div class="title is-5">
                        {{ row['nazev'] }}
                    </div>
                    <div class="subtitle is-6">
                        {{ row['typ'] }} | {{ row['forma'] }}
                    </div>
                </div>
                <footer class="card-footer">
                    <a href="/ws/obor/{{row['stprIdno']}}" class="card-footer-item">
                        <i class="material-icons has-text-black">info</i>
                    </a>
                </footer>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
