{% extends 'base.html' %}{% block head %}{% endblock %}{% block body %}
<style>
  .zoom {
    transition: transform 0.2s;
    object-fit: cover;
    text-decoration: none;
  }

  .zoom:hover {
    transform: scale(1.25);
  }

  .image-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Creates a flexible grid with a minimum column width of 300px */
    gap: 80px; /* Spacing between grid items */
  }

</style>

<h1 style="text-align: center">STAG Erasmus</h1>

<div class="image-grid">
  {% for i in katedry %}
    <a href="/{{i}}">
      <img src="static/{{i}}.jpg" class="zoom p-3" width="400" height="300" />
    </a>
  {% endfor %}
</div>


{% endblock %}
