<!-- TODO: vyučování, správné jednotky (semináře, cvičení, přednášky) -->

{% extends 'base.html' %}

{% block head %}

{% endblock head %}

{% block dropdown %}
<button
  class="btn btn-outline-dark dropdown-toggle"
  type="button"
  id="dropdownMenuButton1"
  data-bs-toggle="dropdown"
>
  {{katedra}}
</button>
<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
  {% for i in range(data|length) %}
  <li>
    <a class="dropdown-item" href="#{{data[i]['nazev'][0]}}"
      >{{ data[i]['nazev'][0] }}</a
    >
  </li>
  {% endfor %}
</ul>

<a href="/" class="px-3">
  <img src="static/home-3-svgrepo-com.svg" width="30" />
</a>
{% endblock dropdown %} {% block body %} {%
for i in range(data|length) %}
<!-- TODO: nadpis soucast containeru -->
<div class="container d-flex justify-content-center w-50 p-4 pt-5 mt-5 rounded bg-white">
  <h1 id="{{data[i]['nazev'][0]}}">{{data[i]['nazev'][0]}}</h1>
</div>
<div class="container w-50 rounded bg-white">
  <table class="table">
    <tbody>
      <tr>
        <th>Course code</th>
        <td>{{ data[i]['katedra'][0] }}/{{ data[i]['zkratka'][0] }}</td>
      </tr>
      <tr>
        <th>ECTS</th>
        <td>{{ data[i]['kreditu'][0] }}</td>
      </tr>
      <tr>
        <th>Teacher</th>
        <td>
          {{ (data[i]['prednasejici'][0] | string).translate({39:None}) }}
        </td>
      </tr>
      <tr>
        <th>Term</th>
        <td>
          {% if data[i]['vyukaZS'][0] == 'A' %} Winter {% else %} Summer {%
          endif %}
        </td>
      </tr>
      <tr>
        <th>Language of instruction</th>
        <td>{{ data[i]['vyucovaciJazyky'][0] }}</td>
      </tr>

      <tr>
        <th>Lecture/exercises</th>
        <td>
          {{ data[i]['jednotekPrednasek'][0]}}/{{ data[i]['jednotekCviceni'][0]
          }} per week
        </td>
      </tr>
      <tr>
        <th>Completion</th>
        <td>{{ data[i]['typZkousky'][0] }}</td>
      </tr>
      <tr>
        <td colspan="2">{{ data[i]['anotace'][0] }}</td>
      </tr>
      <tr>
        <td colspan="2">
          {{ data[i]['prehledLatky'][0] | replace("\n", "<br />" | safe ) }}
        </td>
      </tr>
    </tbody>
  </table>
</div>
{% endfor %} {% endblock body %}
