{% extends 'base.html' %}{% block head %}{% endblock %}{% block body %}
<style>
  .zoom {
    transition: transform 0.2s;
    object-fit: cover;
  }

  .zoom:hover {
    transform: scale(1.25);
  }

  .image-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 80px;
  }

</style>

<h1 style="text-align: center; font-size: 500%;">STAG Erasmus</h1>

<div class="container justify-content-center pt-5 mt-5">
<div class="image-grid">
  {% for i in range(6) %}
    <a href="/{{katedry[i]}}" style="font-size: 500%;" class="btn btn-outline-success zoom w-75">
        {{katedry[i]}}
    </a>
  {% endfor %}
</div>

{% endblock %}
